.topMenuContainer {
  position: absolute;
  top: 2rem;
  left: 2rem;
  z-index: 1000;

  display: flex;
  flex-direction: row;
  gap: 24px;
}

.topMenuContainer h1 {
  font-size: 2rem;
  color: #ccc;
  margin: 0;
}
